<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>TWILLI Sky</title>



</head>
<body class="background-light twlsky-orange twlsky-mixedcolours isolated-sections loader-bar">

<!-- Page Outer Container -->
<div class="outer-container clearfix">


  <!-- =========== Page Body Inside Content =========== -->
  <div class="inside-body-content-container clearfix">


    <!-- =========== Section: Breadcrumbs =========== -->
    <div id="breadcrumbs-container" class="container-fluid horizontal-section-container hidden-xs clearfix">
      <div class="row">
        <div class="col-xs-12">
          <ol class="breadcrumb">
            <li class="active"><a href="<%= root_path  %>">Home</a></li>
          </ol>
        </div>
      </div>
    </div>
    <!-- End: Section: Breadcrumbs -->

    <!-- =========== Section 2 =========== -->
    <div class="container-fluid horizontal-section-container clearfix">
      <div class="row">

        <div class="col-sm-12">
          <!-- Main Page Content -->
          <div id="main-page-content" class="section-container main-page-content clearfix">

            <div class="section-content clearfix">

              <h1 class="page_title">Listing farmers</h1>

              <!-- contact content -->
              <div class="row clearfix">

                <!-- contact details -->
                <div class="col-sm-6">

                  <!-- Contact Details -->
                  <h6>Listing users</h6>

                  <ul class="vertical-simple-list contact-list">

                    <!-- list item -->
                    <li class="item clearfix"><div class="item-content">

                      <% @users.each do |user| %>
                          <%= user.name %> |
                          <%= user.phone %>
                          <tr>
                            <td><%= link_to 'Show', user %></td>
                            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                          </tr>
                          <br><hr>
                      <% end %>
                      <br><br>
                      <%= link_to 'New User', new_user_path %>
                    </div></li>


                  </ul><!-- .vertical-simple-list -->

                  <hr/>

                </div><!-- .col-sm-6 -->

              </div><!-- .col-sm-6 -->

            </div>
            <!-- end: contact content -->

          </div><!-- .section-content -->

        </div><!-- .section-container -->
        <!-- End: Main Page Content -->
      </div><!-- .col-sm-12 -->

    </div><!-- .row -->
  </div><!-- .container-fluid -->
  <!-- End: Section 2 -->


</div><!-- .row -->
</footer><!-- .container-fluid -->
<!-- End: Footer Alt -->

</div><!-- .inside-body-content-container -->
<!-- End: Page Body Inside Content -->

</div><!-- .outer-container -->
<!-- End: Page Outer Container -->

<!-- Beneath Footer -->
<div id="beneath-footer" class="center-container clearfix">

  <!-- left -->
  <div class="col-sm-6 beneath-footer-left">
    <div class="text">
      &copy; 2014 Ukulima Text
      <br/>
    </div>
  </div>


</div><!-- #beneath-footer -->

<!-- go to top -->
<div id="go-to-top" onclick="scroll_to_top(this.event);" title="Go to top"><span class="glyphicon glyphicon-chevron-up"></span></div>



</body>
</html>

